img{
    width: 200ppx;
    height: 200px;
}
.ad-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around; 
     align-items: center;
}
.contenedor-ad{
    padding: 20px;
    border: 1px solid black;
    
}
